Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

#230: Change routing for buying store items.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/services/StoreService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/StoreApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/IStoreItemService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
Due: dotnet, npm

#230: Change routing for buying store items. (#534)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/services/StoreService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/StoreApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/IStoreItemService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
Due: dotnet, npm

Update typescript-eslint monorepo to v2.15.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency dayjs to v1.8.19
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
Due: dotnet

#230: Update schema for card packs (Postgres).
  databases/CardHero.Database.PostgreSql/schema.sql
Due: none

#230: Update schema for card packs (Postgres). (#541)
  databases/CardHero.Database.PostgreSql/schema.sql
Due: none

Update dependency sass to v1.24.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/node to v13.1.5
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update Node.js to v13.6.0
  .circleci/config.yml
Due: none

Update dependency terser-webpack-plugin to v2.3.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/node to v13.1.6
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency sass to v1.24.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency css-loader to v3.4.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency sass-loader to v8.0.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Change TripleTriad enum vaue to Standard.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameCreateModal.tsx
  apps/CardHero.Frontend.React/src/components/game/GameDetailWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/game/__snapshots__/GameDetailWidget.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Enums/GameType.cs
  tests/CardHero.Core.SqlServer.Tests/GameValidator/GameValidatorTests.ValidateNewGameAsync.cs
Due: dotnet, npm

#547: Remove TrialTriad from game components.
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoardGrid.tsx
  apps/CardHero.Frontend.React/src/components/game/tripletriad/GameTripleTriadBoard.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Update linters
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Rename TrialTriad move odels and flatten into main game model.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameDataViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameMoveViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#547: Fix issue with board loading when game isn't ready.
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/models/GameTripleTriadModel.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#547: Remove unused classes.
  apps/CardHero.Frontend.React/src/models/GameTripleTriadModel.ts
  apps/CardHero.Frontend.React/src/utils/mapper.ts
Due: dotnet, npm

#547: Remove game type dropdown.
  apps/CardHero.Frontend.React/src/components/game/GameCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#547: Remove componentWillReceiveProps warning with react-router.
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Feature/547 game logic (#559)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoardGrid.tsx
  apps/CardHero.Frontend.React/src/components/game/GameCreateModal.tsx
  apps/CardHero.Frontend.React/src/components/game/GameDetailWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/game/__snapshots__/GameDetailWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/game/tripletriad/GameTripleTriadBoard.tsx
  apps/CardHero.Frontend.React/src/models/GameTripleTriadModel.ts
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.Frontend.React/src/utils/mapper.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameDataViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameMoveViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Enums/GameType.cs
  tests/CardHero.Core.SqlServer.Tests/GameValidator/GameValidatorTests.ValidateNewGameAsync.cs
Due: dotnet, npm

#547: Add tests for invalid game in Postgres.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Data.PostgreSql/Mappers/GameUserMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/BaseWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet

#547: Update SQL Server tests for invalid game.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: none

#547: Add invalid game tests to bump CodeCov.
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet

Feature/547 game logic 2 (#565)
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Data.PostgreSql/Mappers/GameUserMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/BaseWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet

#547: Update error message for invalid game.
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet

Update babel monorepo to v7.8.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Bring back interface to bump code coverage back up.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/BaseWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: none

#547: Use single source for resetting data.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: none

#547: Update error message for invalid game. (#566)
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/BaseWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet

Update typescript-eslint monorepo to v2.16.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update NSwag monorepo to v13.2.1
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update dependency sass-loader to v8.0.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/chart.js to v2.9.9
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update babel monorepo to v7.8.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.101
  .circleci/config.yml
Due: none

Update definitelyTyped
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Path conditions:
  dotnet: any of: apps, src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
  npm: any of: apps/CardHero.Frontend.React/src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
