Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

#547: Use game type from models as the data abstractions one is duplicated. (#846)
  src/CardHero.Core.Abstractions/Mappers/GameCreateDataMapper.cs
  src/CardHero.Core.Abstractions/Mappers/GameDataMapper.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.Abstractions/Enums/GameType.cs
  src/CardHero.Data.Abstractions/Models/GameCreateData.cs
  src/CardHero.Data.Abstractions/Models/GameData.cs
  src/CardHero.Data.Abstractions/Search/GameSearchFilter.cs
  src/CardHero.Data.PostgreSql/Mappers/GameMapper.cs
  src/CardHero.Data.SqlServer/Mappers/GameMapper.cs
Due: dotnet

#547: Add tests for joining a game.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.JoinAsync.cs
Due: dotnet

#547: Fix minor issue with test.
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.MoveAsync.cs
Due: none

Feature/547 game logic 13 (#842)
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoardGrid.tsx
  apps/CardHero.Frontend.React/src/styles/game.scss
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Models/GameUpdateData.cs
  src/CardHero.Data.Abstractions/Repositories/IGameRepository.cs
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/BaseWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.JoinAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.PostAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.MoveAsync.cs
Due: dotnet, npm

Clean up various SonarCloud tech debts.
  src/CardHero.Core.Abstractions/Helpers/SortableHelper.cs
  src/CardHero.Core.Abstractions/SearchFilters/SearchFilter.cs
  src/CardHero.Core.SqlServer/Services/MoveUserService.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Helpers/ConnectionStringParser.cs
Due: dotnet

Update react monorepo
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Use a stronger random number generator.
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
Due: dotnet

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.scheduler.bundle.min.js
Due: dotnet

Clean up various SonarCloud tech debts. (#850)
  src/CardHero.Core.Abstractions/Helpers/SortableHelper.cs
  src/CardHero.Core.Abstractions/SearchFilters/SearchFilter.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Services/MoveUserService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Helpers/ConnectionStringParser.cs
Due: dotnet

Update dependency @types/react to v16.9.25
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update NSwag monorepo to v13.3.0
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update babel monorepo
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Add game banner to indicate who has won the game.
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBanner.tsx
  apps/CardHero.Frontend.React/src/helpers/gameBannerHelpers.test.ts
  apps/CardHero.Frontend.React/src/helpers/gameBannerHelpers.ts
  apps/CardHero.Frontend.React/src/styles/game.scss
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Update files based on new tooling.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
Due: dotnet

#547: Add tests for <GameBanner/>.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBanner.test.tsx
  apps/CardHero.Frontend.React/src/components/game/__snapshots__/GameBanner.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Feature/547 game logic 14 (#861)
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBanner.test.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBanner.tsx
  apps/CardHero.Frontend.React/src/components/game/__snapshots__/GameBanner.test.tsx.snap
  apps/CardHero.Frontend.React/src/helpers/gameBannerHelpers.test.ts
  apps/CardHero.Frontend.React/src/helpers/gameBannerHelpers.ts
  apps/CardHero.Frontend.React/src/styles/game.scss
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Update dependency @types/node to v13.9.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update Font Awesome
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
Due: dotnet

Update typescript-eslint monorepo to v2.25.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency react-bootstrap to v1.0.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-bootstrap.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-overlays.bundle.min.js
Due: dotnet

Update .NET Core monorepo to v3.1.3
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.201
  .circleci/config.yml
Due: none

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.201
  .github/workflows/dotnetcore.yml
  .travis.yml
  lgtm.yml
Due: none

Update mcr.microsoft.com/dotnet/core/aspnet Docker tag to v3.1.3
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
Due: dotnet

Update dependency webpack to v4.42.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency eslint-plugin-flowtype to v4.7.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update jest monorepo to v25.2.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/node to v13.9.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency Npgsql.EntityFrameworkCore.PostgreSQL to v3.1.3
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
Due: dotnet

Update jest monorepo to v25.2.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/react to v16.9.26
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency eslint-plugin-react-hooks to v3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update Node.js to v13.11.0
  .circleci/config.yml
Due: none

Update dependency @types/node to v13.9.5
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update Node.js to v13.12.0
  .circleci/config.yml
Due: none

Update dependency @types/react to v16.9.27
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency eslint-plugin-import to v2.20.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update jest monorepo to v25.2.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Path conditions:
  dotnet: any of: apps, src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
  npm: any of: apps/CardHero.Frontend.React/src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
