Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - apps
      - shared
      - src
  npm:
    paths:
      - apps/CardHero.NetCoreApp.TypeScript

Update dependency @types/chart.js to v2.9.3
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.100
  .circleci/config.yml
Due: none

Update build to use netcore 3.1.
  .github/workflows/dotnetcore.yml
Due: none

Update build to use netcore 3.1.
  .travis.yml
Due: none

Ci/netcore 3.1 (#343)
  .github/workflows/dotnetcore.yml
  .travis.yml
Due: none

Update build to use netcore 3.1.
  lgtm.yml
Due: none

Change renovate update times.
  renovate.json
Due: none

Ci/netcore 3.1 (#344)
  lgtm.yml
  renovate.json
Due: none

Update dependency Microsoft.Extensions.DependencyInjection.Abstractions to v3.1.0
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
Due: dotnet

Update project to netcore 3.1.
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
Due: dotnet

Update to netcore 3.1.
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
Due: dotnet

Update to netcore 3.1.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet, npm

Update to netcore 3.1.
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Lib/netcore 3.1 (#345)
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet, npm

Update Microsoft.EntityFrameworkCore monorepo to v3.1.0
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Update dependency Microsoft.VisualStudio.Web.CodeGeneration.Design to v3.1.0
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet, npm

Update dependency Microsoft.AspNetCore.Authentication.OpenIdConnect to v3.1.0
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet, npm

Update dependency babel-preset-react-app to v9.1.0
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency eslint-config-react-app to v5.1.0
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency react-app-polyfill to v1.0.5
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Group create react app packages together
  renovate.json
Due: none

Group create react app packages together (#356)
  renovate.json
Due: none

Update create-react-app monorepo
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency @types/react to v16.9.15
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency terser-webpack-plugin to v2.2.2
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency eslint-loader to v3.0.3
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency @fortawesome/react-fontawesome to v0.1.8
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update Node.js to v13.3.0
  .circleci/config.yml
Due: none

Update dependency @types/chart.js to v2.9.4
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update react-dnd monorepo to v10
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet, npm

Update bundles.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet, npm

Move Jest configs to own file and cleanup existing scripts.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/config/env.js
  apps/CardHero.NetCoreApp.TypeScript/config/modules.js
  apps/CardHero.NetCoreApp.TypeScript/config/paths.js
  apps/CardHero.NetCoreApp.TypeScript/config/pnpTs.js
  apps/CardHero.NetCoreApp.TypeScript/config/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/config/webpackDevServer.config.js
  apps/CardHero.NetCoreApp.TypeScript/jest.config.js
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/scripts/build.js
  apps/CardHero.NetCoreApp.TypeScript/scripts/start.js
  apps/CardHero.NetCoreApp.TypeScript/scripts/test.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Fix Jest tests.
  apps/CardHero.NetCoreApp.TypeScript/jest.config.js
Due: dotnet, npm

Update Codecov script.
  scripts/codecov.sh
Due: none

Add tests for NavMenu.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/app/MainApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/NavMenu.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/NavMenu.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

Move Jest configs to own file and cleanup existing scripts. (#376)
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/app/MainApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/NavMenu.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/NavMenu.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/config/env.js
  apps/CardHero.NetCoreApp.TypeScript/config/modules.js
  apps/CardHero.NetCoreApp.TypeScript/config/paths.js
  apps/CardHero.NetCoreApp.TypeScript/config/pnpTs.js
  apps/CardHero.NetCoreApp.TypeScript/config/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/config/webpackDevServer.config.js
  apps/CardHero.NetCoreApp.TypeScript/jest.config.js
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/scripts/build.js
  apps/CardHero.NetCoreApp.TypeScript/scripts/start.js
  apps/CardHero.NetCoreApp.TypeScript/scripts/test.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
  scripts/codecov.sh
Due: dotnet, npm

Add tests for Home component.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/app/MainApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/Home.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/Home.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/HomeApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/__snapshots__/Home.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/utils/route.test.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm
