Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Update definitelyTyped
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update typescript-eslint monorepo to v2.30.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/react-dom to v16.9.7
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency Microsoft.CodeAnalysis.FxCopAnalyzers to v2.9.9
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Update dependency Microsoft.CodeAnalysis.FxCopAnalyzers to v3
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Update jest monorepo to v25.5.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/chart.js to v2.9.20
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update jest monorepo to v25.5.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency jest to v25.5.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @babel/core to v7.9.6
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update create-react-app monorepo
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency dayjs to v1.8.26
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency ts-loader to v7.0.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency terser-webpack-plugin to v3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency jest to v25.5.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency eslint-plugin-react-hooks to v4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update node Docker tag to v14.1.0
  .circleci/config.yml
Due: none

#17: Rejig contexts so multiple can be used at once.
  apps/CardHero.Frontend.React/src/app/Main.tsx
  apps/CardHero.Frontend.React/src/app/MainApp.tsx
  apps/CardHero.Frontend.React/src/contexts/AccountContextProvider.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#17: Use notifications when purchasing a bundle.
  apps/CardHero.Frontend.React/src/app/Main.tsx
  apps/CardHero.Frontend.React/src/components/store/Store.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#17: Improve look of store notifications and fix double delete issue.
  apps/CardHero.Frontend.React/src/components/shared/NotificationItem.tsx
  apps/CardHero.Frontend.React/src/components/store/Store.tsx
  apps/CardHero.Frontend.React/src/contexts/NotificationContextProvider.tsx
  apps/CardHero.Frontend.React/src/types/INotificationItem.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#17: Update notification snapshots.
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationItem.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationWidget.test.tsx.snap
Due: dotnet, npm

#17: Move initial state into index.tsx and add tests for Main and MainApp.
  apps/CardHero.Frontend.React/src/app/Main.test.tsx
  apps/CardHero.Frontend.React/src/app/Main.tsx
  apps/CardHero.Frontend.React/src/app/MainApp.test.tsx
  apps/CardHero.Frontend.React/src/app/MainApp.tsx
  apps/CardHero.Frontend.React/src/app/__snapshots__/Main.test.tsx.snap
  apps/CardHero.Frontend.React/src/app/__snapshots__/MainApp.test.tsx.snap
  apps/CardHero.Frontend.React/src/app/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#17: Fix warning with redefined variable.
  apps/CardHero.Frontend.React/src/app/Main.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#17: Add tests for StoreApp.
  apps/CardHero.Frontend.React/src/components/store/StoreApp.test.tsx
  apps/CardHero.Frontend.React/src/components/store/__snapshots__/StoreApp.test.tsx.snap
Due: dotnet, npm

Feature/17 ajax notifications 2 (#1075)
  apps/CardHero.Frontend.React/src/app/Main.test.tsx
  apps/CardHero.Frontend.React/src/app/Main.tsx
  apps/CardHero.Frontend.React/src/app/MainApp.test.tsx
  apps/CardHero.Frontend.React/src/app/MainApp.tsx
  apps/CardHero.Frontend.React/src/app/__snapshots__/Main.test.tsx.snap
  apps/CardHero.Frontend.React/src/app/__snapshots__/MainApp.test.tsx.snap
  apps/CardHero.Frontend.React/src/app/index.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationItem.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationItem.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/store/Store.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreApp.test.tsx
  apps/CardHero.Frontend.React/src/components/store/__snapshots__/StoreApp.test.tsx.snap
  apps/CardHero.Frontend.React/src/contexts/AccountContextProvider.tsx
  apps/CardHero.Frontend.React/src/contexts/NotificationContextProvider.tsx
  apps/CardHero.Frontend.React/src/types/INotificationItem.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

Split out game deck population into own class.
  src/CardHero.Core.SqlServer/Helpers/GameDeckHelper.cs
  src/CardHero.Core.SqlServer/Helpers/IGameDeckHelper.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Validators/MoveValidator.cs
Due: dotnet

Move handle winner to own handler.
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Handlers/HandleWinnerHandler.cs
  src/CardHero.Core.SqlServer/Handlers/IHandleWinnerHandler.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
Due: dotnet

Move add user to game into own handler.
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Handlers/AddUserToGameHandler.cs
  src/CardHero.Core.SqlServer/Handlers/IAddUserToGameHandler.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
Due: dotnet

Misc/game play refactor (#1077)
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Handlers/AddUserToGameHandler.cs
  src/CardHero.Core.SqlServer/Handlers/HandleWinnerHandler.cs
  src/CardHero.Core.SqlServer/Handlers/IAddUserToGameHandler.cs
  src/CardHero.Core.SqlServer/Handlers/IHandleWinnerHandler.cs
  src/CardHero.Core.SqlServer/Helpers/GameDeckHelper.cs
  src/CardHero.Core.SqlServer/Helpers/IGameDeckHelper.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Validators/MoveValidator.cs
Due: dotnet

Ignore auto generated EF files in Better Code Hub.
  .bettercodehub.yml
Due: none

Ignore auto generated EF files in LGTM.
  lgtm.yml
Due: none

Update vendor bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
Due: dotnet

Misc/ci update (#1078)
  .bettercodehub.yml
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
  lgtm.yml
Due: dotnet

Update dependency jest to v25.5.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#17: Handle errors when making a move in a game.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardHeroControllerBase.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#17: Add helper for fetching from client.
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/types/runtime.ts
  apps/CardHero.Frontend.React/src/utils/clientHelper.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#17: Turn notifications into toasts.
  apps/CardHero.Frontend.React/src/components/shared/NotificationItem.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationWidget.tsx
  apps/CardHero.Frontend.React/src/styles/index.scss
  apps/CardHero.Frontend.React/src/styles/notifications.scss
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

#17: Update snapshots.
  apps/CardHero.Frontend.React/src/app/__snapshots__/MainApp.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationItem.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationWidget.test.tsx.snap
Due: dotnet, npm

Feature/17 ajax notifications 3 (#1079)
  apps/CardHero.Frontend.React/src/app/__snapshots__/MainApp.test.tsx.snap
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationItem.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationWidget.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationItem.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NotificationWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/styles/index.scss
  apps/CardHero.Frontend.React/src/styles/notifications.scss
  apps/CardHero.Frontend.React/src/types/runtime.ts
  apps/CardHero.Frontend.React/src/utils/clientHelper.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardHeroControllerBase.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Update jest monorepo to v26
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Path conditions:
  dotnet: any of: apps, src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
  npm: any of: apps/CardHero.Frontend.React/src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
