Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.bundle.min.js
Due: dotnet, npm

Add tests for route.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/utils/route.test.ts
Due: dotnet, npm

Add tests for AccountService.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/app/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/clients/CardHeroApiClientBase.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/AccountService.test.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/AccountService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/CardCollectionService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/CardService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/StoreService.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

Make graphs and badges look better.
  README.md
Due: none

Update layout.
  README.md
Due: none

Move publish.bat into scripts.
  scripts/publish.bat
Due: none

Move the KwokKan.Sortable classes into CardHero.Core.Abstractions.
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  shared/KwokKan.Sortable/KwokKan.Sortable.csproj
  src/CardHero.Core.Abstractions/Attributes/SortableAttribute.cs
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Abstractions/Constants/Constants.cs
  src/CardHero.Core.Abstractions/Enums/SortDirection.cs
  src/CardHero.Core.Abstractions/Helpers/SortableHelper.cs
  src/CardHero.Core.Abstractions/Interfaces/ISortable.cs
  src/CardHero.Core.Abstractions/Interfaces/ISortableFilter.cs
  src/CardHero.Core.Abstractions/Interfaces/ISortableHelper.cs
  src/CardHero.Core.Abstractions/SearchFilters/SearchFilter.cs
  src/CardHero.Core.SqlServer/Services/BaseService.cs
Due: dotnet, npm

Remove KwokKan.Sortable project.
  CardHero.sln
  codecov.yml
  shared/KwokKan.Sortable/KwokKan.Sortable.csproj
Due: dotnet

Ci/cleanup globals (#308)
  CardHero.sln
  README.md
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/app/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/clients/CardHeroApiClientBase.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/DateFormat.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/DateFormat.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/__snapshots__/DateFormat.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/AccountService.test.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/AccountService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/CardCollectionService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/CardService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/services/StoreService.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/utils/date.test.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/utils/date.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/utils/route.test.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
  codecov.yml
  scripts/publish.bat
  shared/KwokKan.Sortable/KwokKan.Sortable.csproj
  src/CardHero.Core.Abstractions/Attributes/SortableAttribute.cs
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Abstractions/Constants/Constants.cs
  src/CardHero.Core.Abstractions/Enums/SortDirection.cs
  src/CardHero.Core.Abstractions/Helpers/SortableHelper.cs
  src/CardHero.Core.Abstractions/Interfaces/ISortable.cs
  src/CardHero.Core.Abstractions/Interfaces/ISortableFilter.cs
  src/CardHero.Core.Abstractions/Interfaces/ISortableHelper.cs
  src/CardHero.Core.Abstractions/SearchFilters/SearchFilter.cs
  src/CardHero.Core.SqlServer/Services/BaseService.cs
Due: dotnet, npm

Update dependency jest-environment-jsdom-fourteen to v1.0.1
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

#229: Fix issue with stripping empty still returning 0.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/__snapshots__/CoinFormat.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#229: Fix issue with stripping empty still returning 0. (#316)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/__snapshots__/CoinFormat.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#228: Move existing stats into new component.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/Card.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/CardStatsWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#228: Add secondary stats charts.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/Card.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/CardSecondaryStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#228: Convert stats widgets to function components.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/CardSecondaryStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/CardStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/CardStatsWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#228: Add tests for CardStatsWidget.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/CardStatsWidget.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/card/__snapshots__/CardStatsWidget.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Split runtime chunk into own bundle.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/runtime.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.shared.bundle.min.js
Due: dotnet, npm

Move React related stuff into own bundle.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet, npm

Move things which depend on the global state into own bundle.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.global.bundle.min.js
Due: dotnet, npm

Move indirectly referenced packages into own bundle.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.unused.bundle.min.js
Due: dotnet, npm

Add badges for code quality.
  README.md
Due: none

Add badges for code quality. (#319)
  README.md
Due: none

Add config file for Dependabot.
  .dependabot/config.yml
Due: none

Add config file for Dependabot. (#320)
  .dependabot/config.yml
Due: none

Remove unused project.
  src/CardHero.Mvc/Controllers/Api/GameTripleTriadApiController.cs
  src/CardHero.Mvc/Models/Game/TripleTriad/GameTripleTriadMoveViewModel.cs
  src/CardHero.Mvc/Models/Game/TripleTriad/GameTripleTriadViewModel.cs
  src/CardHero.Mvc/Views/Game/_ViewTripleTriad.cshtml
  src/CardHero.Mvc/wwwroot/js/games/page/view.tripletriad.js
  src/CardHero.Mvc/wwwroot/js/games/tripletriad/_init.js
  src/CardHero.Mvc/wwwroot/js/games/tripletriad/_ns.js
  src/CardHero.Mvc/wwwroot/js/games/tripletriad/api.js
  src/CardHero.Mvc/wwwroot/modules/games/tripletriad/_.min.js
Due: dotnet

Possibly fix an lgtm false positive.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.tsx
Due: dotnet, npm

Add lgtm config.
  CardHero.sln
  lgtm.yml
Due: none

Ci/better lgtm (#321)
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.tsx
  lgtm.yml
  src/CardHero.Mvc/Controllers/Api/GameTripleTriadApiController.cs
  src/CardHero.Mvc/Models/Game/TripleTriad/GameTripleTriadMoveViewModel.cs
  src/CardHero.Mvc/Models/Game/TripleTriad/GameTripleTriadViewModel.cs
  src/CardHero.Mvc/Views/Game/_ViewTripleTriad.cshtml
  src/CardHero.Mvc/wwwroot/js/games/page/view.tripletriad.js
  src/CardHero.Mvc/wwwroot/js/games/tripletriad/_init.js
  src/CardHero.Mvc/wwwroot/js/games/tripletriad/_ns.js
  src/CardHero.Mvc/wwwroot/js/games/tripletriad/api.js
  src/CardHero.Mvc/wwwroot/modules/games/tripletriad/_.min.js
Due: dotnet, npm

Fix various issues reported by LGTM.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
Due: dotnet, npm

Add badge for C# quality.
  README.md
Due: none

Possibly fix always true condition on LGTM.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

Fix various issues reported by LGTM. (#322)
  README.md
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/shared/CoinFormat.tsx
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
Due: dotnet, npm

Update typescript-eslint monorepo to v2.10.0
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency @types/react to v16.9.14
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency css-loader to v3.2.1
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Path conditions:
  dotnet: any of: apps, shared, src
  npm: any of: apps/CardHero.NetCoreApp.TypeScript
