Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Update definitelyTyped
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update typescript-eslint monorepo to v2.11.0
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency eslint-plugin-import to v2.19.1
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency css-loader to v3.3.0
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency @babel/core to v7.7.5
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency @types/node to v12.12.16
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Add basic integration tests for dotnet.
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  apps/Debug.NetCoreApp/Startup.cs
  tests/CardHero.Core.SqlServer.Tests/CardHero.Core.SqlServer.Tests.csproj
  tests/CardHero.Core.SqlServer.Tests/GameValidator/GameValidatorTests.ValidateNewGameAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
Due: dotnet, npm

Possibly fix hang after tests have failed.
  .circleci/config.yml
Due: none

Disable shadow copying of tests.
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/xunit.runner.json
Due: none

Change format of nodereuse.
  .circleci/config.yml
Due: none

Update webpack to 5.0.0-beta.9.
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/runtime.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.fortawesome.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.global.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.unused.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Remove various plugins as they are now integrated into webpack 5.
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Initial work to get account api controller integration tests.
  src/CardHero.Core.SqlServer/Services/UserService.cs
  src/CardHero.Data.Abstractions/Models/UserData.cs
  src/CardHero.Data.Abstractions/Repositories/IUserRepository.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/TestAuthenticationHandler.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/TestCardHeroDataDbContextFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/WebApplicationFactoryExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
Due: dotnet

Add default set of settings to hopefully fix dotnet test hang.
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.Development.json
Due: none

Add tests for getting the page only.
  tests/CardHero.NetCoreApp.IntegrationTests/AssemblyInfo.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.Development.json
Due: none

Use a mapper for retrieving the user.
  src/CardHero.Core.Abstractions/Mappers/UserDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/UserService.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Mappers/UserMapper.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
Due: dotnet

Use a repository to create users.
  src/CardHero.Core.SqlServer/Services/UserService.cs
  src/CardHero.Data.Abstractions/Repositories/IUserRepository.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
Due: dotnet

Add basic integration tests for dotnet. (#389)
  .circleci/config.yml
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  apps/Debug.NetCoreApp/Startup.cs
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/Mappers/UserDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/UserService.cs
  src/CardHero.Data.Abstractions/Models/UserData.cs
  src/CardHero.Data.Abstractions/Repositories/IUserRepository.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Mappers/UserMapper.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
  tests/CardHero.Core.SqlServer.Tests/GameValidator/GameValidatorTests.ValidateNewGameAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/AssemblyInfo.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/TestAuthenticationHandler.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/TestCardHeroDataDbContextFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/WebApplicationFactoryExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.Development.json
  tests/CardHero.NetCoreApp.IntegrationTests/xunit.runner.json
Due: dotnet, npm

Misc/improve js test (#390)
  .circleci/config.yml
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/app/MainApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/Home.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/Home.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/HomeApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/components/home/__snapshots__/Home.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/utils/route.test.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Only cache node_modules as it's slightly small than the cache.
  .circleci/config.yml
Due: none

Update dependency @types/chart.js to v2.9.5
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update dependency @types/node to v12.12.17
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update Font Awesome
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

#97: Use a user repository for managing updates to user.
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Core.SqlServer/Services/UserService.cs
  src/CardHero.Data.Abstractions/Models/UserUpdateData.cs
  src/CardHero.Data.Abstractions/Repositories/IUserRepository.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
Due: dotnet

#97: Remove unused user class.
  src/CardHero.Core.Models/Models/CardCollectionModel.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardCollection.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/Deck.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/User.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
Due: dotnet

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.fortawesome.bundle.min.js
Due: dotnet, npm

Enhancement/97 user repository (#396)
  src/CardHero.Core.Models/Models/CardCollectionModel.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardCollection.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/Deck.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/User.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Core.SqlServer/Services/UserService.cs
  src/CardHero.Data.Abstractions/Models/UserUpdateData.cs
  src/CardHero.Data.Abstractions/Repositories/IUserRepository.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
Due: dotnet

Update dependency terser-webpack-plugin to v2.2.3
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Add config for Better Code Hub.
  .bettercodehub.yml
Due: none

Add config for Better Code Hub. (#399)
  .bettercodehub.yml
Due: none

Exclude generated TypeScript files.
  .bettercodehub.yml
Due: none

Remove cache restoration when uploading coverage as it doesn't use npm.
  .circleci/config.yml
Due: none

Update codecov.sh
  scripts/codecov.sh
Due: none

Exclude generated TypeScript files. (#400)
  .bettercodehub.yml
  .circleci/config.yml
  scripts/codecov.sh
Due: none

Move vendor related css into own bundle.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/styles/index.scss
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/styles/vendor.scss
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/records.json
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Enable Purgecss on vendor bundle.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/styles/card.scss
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Use styles on page.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/records.json
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.shared.bundle.min.js
Due: dotnet, npm

Whitelist various classes used in react-bootstrap modals.
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Path conditions:
  dotnet: any of: apps, shared, src
  npm: any of: apps/CardHero.NetCoreApp.TypeScript
