Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm          
flags:
  dotnet:
    paths:
      - apps
      - shared
      - src
  npm:
    paths:
      - apps/CardHero.NetCoreApp.TypeScript

Fix minified css when doing production build.
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Enhancement/purgcss (#403)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/styles/card.scss
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/styles/index.scss
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/styles/vendor.scss
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/package.json
  apps/CardHero.NetCoreApp.TypeScript/records.json
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/yarn.lock
Due: dotnet, npm

Update TerserPlugin compatibility with Webpack 5.
  apps/CardHero.NetCoreApp.TypeScript/webpack.config.js
Due: dotnet, npm

Update paths to allow to build.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/records.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.js
Due: dotnet, npm

Update paths to allow for lint.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
Due: dotnet, npm

Update paths to allow for test.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/jest.config.js
Due: dotnet, npm

Update CI to support new paths.
  .circleci/config.yml
  .github/workflows/dotnetcore.yml
  codecov.yml
  lgtm.yml
Due: none

Fix removing output path.
  .circleci/config.yml
Due: none

Update paths to not use parent directory.
  .circleci/config.yml
Due: none

Update cache keys.
  .circleci/config.yml
Due: none

Update Better Code Hub config.
  .bettercodehub.yml
  CardHero.sln
Due: none

Store Jest coverage in ClientApp folder.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/jest.config.js
Due: dotnet, npm

Update paths for Dependabot.
  .dependabot/config.yml
  CardHero.sln
Due: none

Fix incorrect coverage folder.
  .circleci/config.yml
Due: none

#217: Update publish project path.
  .circleci/config.yml
Due: none

Add badge for Sonatype DepShield.
  README.md
Due: none

Exclude auto generated TypeScript code from coverage.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/jest.config.js
  codecov.yml
Due: dotnet, npm

Remove Prettier as it has the wrong opinion.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet, npm

Remove Prettier as it has the wrong opinion. (#408)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet, npm

#217: Update publish project path. (#406)
  .circleci/config.yml
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/jest.config.js
  codecov.yml
Due: dotnet, npm

Add badge for Sonatype DepShield. (#407)
  README.md
Due: none

Add SonarCloud config.
  .sonarcloud.properties
Due: none

Add SonarCloud config. (#409)
  .sonarcloud.properties
Due: none

Add badges for SonarCloud.
  README.md
Due: none

Add badges for SonarCloud. (#410)
  README.md
Due: none

#227: Update limit dropdown into own component.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/collection/CollectionSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NumberDropDown.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#227: Move deck details into own component.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckDetailsWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#227: Move owned cards into own component.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#227: Make current deck to use the CardCollectionWidget component.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

#227: Change properties of deck card to work with widget.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.Core.Models/Models/DeckCardModel.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
Due: dotnet, npm

Fix nested variable name to allow Azure Pipelines to build.
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet, npm

Fix nested variable name to allow Azure Pipelines to build. (#412)
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet, npm

Set up CI with Azure Pipelines (#260)
  azure-pipelines.yml
Due: none

#97: Use a repository for store item.
  src/CardHero.Core.Abstractions/Mappers/StoreItemDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Models/StoreItemData.cs
  src/CardHero.Data.Abstractions/Repositories/IStoreItemRepository.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/StoreItem.cs
  src/CardHero.Data.SqlServer/Repositories/StoreItemRepository.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
Due: dotnet

#97: Replace remaining store item with repository.
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/StoreItem.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Repositories/IStoreItemRepository.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Mappers/StoreItemMapper.cs
  src/CardHero.Data.SqlServer/Repositories/StoreItemRepository.cs
Due: dotnet

#97: Add tests for getting store items.
  src/CardHero.Data.SqlServer/Repositories/StoreItemRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
Due: dotnet

Enhancement/97 store item repo (#413)
  src/CardHero.Core.Abstractions/Mappers/StoreItemDataMapper.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Models/StoreItemData.cs
  src/CardHero.Data.Abstractions/Repositories/IStoreItemRepository.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/StoreItem.cs
  src/CardHero.Data.SqlServer/Mappers/StoreItemMapper.cs
  src/CardHero.Data.SqlServer/Repositories/StoreItemRepository.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
Due: dotnet

#96: Fix various bits of code relating to Microsoft.CodeAnalysis.FxCopAnalyzers.
  apps/Debug.NetCoreApp/Program.cs
  src/CardHero.Core.SqlServer/Program.cs
  src/CardHero.Core.SqlServer/Services/BaseService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
Due: dotnet
