Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Update jest monorepo to v28.1.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update definitelyTyped
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update actions/setup-node action to v3.3.0
  .github/workflows/dotnetcore.yml
Due: none

Update dependency react-chartjs-2 to v4.2.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency sass to v1.52.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update Node.js to v16.15.1
  .circleci/config.yml
Due: none

Update linters to v5.28.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency source-map-loader to v4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update .NET Core monorepo
  .circleci/config.yml
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
Due: dotnet

Update dependency webpack-cli to v4.10.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @babel/core to v7.18.5
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update react monorepo
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency mini-css-extract-plugin to v2.6.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update bundles.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/runtime.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@restart.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.chart.js.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dnd-core.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-bootstrap.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-chartjs-2.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd-html5-backend.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-transition-group.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.redux.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.scheduler.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.throttle-debounce.bundle.min.js
Due: dotnet

Update bundles. (#3844)
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/runtime.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@restart.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.chart.js.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dnd-core.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-bootstrap.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-chartjs-2.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd-html5-backend.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-transition-group.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.redux.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.scheduler.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.throttle-debounce.bundle.min.js
Due: dotnet

Fix various issues with startup and login.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
  databases/CardHero.Database.PostgreSql/schema.sql
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
Due: dotnet

Fix various issues with startup and login. (#3845)
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
  databases/CardHero.Database.PostgreSql/schema.sql
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
Due: dotnet

Update test snapshots.
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardList.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardStatsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckDetailsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckList.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/home/__snapshots__/Home.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionCard.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CoinFormat.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/store/__snapshots__/StoreApp.test.tsx.snap
Due: dotnet, npm

Update test snapshots.
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardList.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardStatsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckDetailsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckList.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionCard.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CoinFormat.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/store/__snapshots__/StoreApp.test.tsx.snap
Due: dotnet, npm

Fix build.
  apps/CardHero.Frontend.React/webpack.config.js
Due: dotnet

Update projects to net7.
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  tests/CardHero.Core.SqlServer.Tests/CardHero.Core.SqlServer.Tests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
Due: dotnet

Update GitHub Action build to net7.
  .github/workflows/dotnetcore.yml
Due: none

Setup .NET 7 for CodeQL.
  .github/workflows/codeql-analysis.yml
Due: none

Use WebMarkupMin.AspNetCore7.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

Use WebMarkupMin.AspNetCore7. (#4355)
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

Path conditions:
  dotnet: any of: apps, src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
  npm: any of: apps/CardHero.Frontend.React/src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
