Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm
flags:
  dotnet:
    paths:
      - apps
      - src
  npm:
    paths:
      - apps/CardHero.NetCoreApp.TypeScript/ClientApp/src
ignore:
    - apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/clients/clients.ts

#96: Add Microsoft.CodeAnalysis.FxCopAnalyzers package.
  analyzers/stylecop.ruleset
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Program.cs
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/Attributes/SortableAttribute.cs
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Abstractions/Interfaces/ISortable.cs
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Core.SqlServer/Validators/GameValidator.cs
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

#96: Update Debug app to use netcore 3 standards.
  apps/Debug.NetCoreApp/Program.cs
Due: dotnet

#96: Add missing configs to solution.
  CardHero.sln
Due: none

Feature/96 microsoft analyzer (#414)
  CardHero.sln
  analyzers/stylecop.ruleset
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Program.cs
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  apps/Debug.NetCoreApp/Program.cs
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/Attributes/SortableAttribute.cs
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Abstractions/Interfaces/ISortable.cs
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Core.SqlServer/Program.cs
  src/CardHero.Core.SqlServer/Services/BaseService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Validators/GameValidator.cs
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Add GuardRails badge.
  README.md
Due: none

Ignore auto generated files.
  .guardrails/ignore
Due: none

Ci/guardrails (#415)
  .guardrails/ignore
  README.md
Due: none

Use a shared view for React pages.
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/Controllers/CardController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/CardHeroBaseController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/CollectionController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/DeckController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/GameController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/HomeController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/StoreController.cs
  apps/CardHero.NetCoreApp.TypeScript/Views/Card/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Collection/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Deck/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Game/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Home/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/ReactView.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Store/Index.cshtml
Due: dotnet

Update nav menu to use SVG icon to fix CSP error when width is small.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NavMenu.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/styles/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.fortawesome.bundle.min.js
Due: dotnet, npm

Add loading message before scripts kick in.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
Due: dotnet

Misc/view cleanup (#416)
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NavMenu.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/styles/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/Controllers/CardController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/CardHeroBaseController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/CollectionController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/DeckController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/GameController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/HomeController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/StoreController.cs
  apps/CardHero.NetCoreApp.TypeScript/Views/Card/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Collection/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Deck/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Game/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Home/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/ReactView.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Store/Index.cshtml
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.fortawesome.bundle.min.js
Due: dotnet, npm

Add missing types for implicit anys.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/app/MainApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/collection/CollectionApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/collection/CollectionSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameDeckCard.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameSelectDeckModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/tripletriad/GameTripleTriadBoard.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/tripletriad/GameTripleTriadBoardGrid.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/ErrorBoundary.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NavMenu.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/models/GameTripleTriadModel.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/utils/keyoftype.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Enable noImplicitAny and workaround types.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
Due: dotnet

Fix types for drag and drop.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameDeckCard.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/IGameDeckCardCollectionDragObjectWithType.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/tripletriad/GameTripleTriadBoardGrid.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
Due: dotnet, npm

Disallow JS files to be compiled.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
Due: dotnet

Misc/typings (#417)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/app/MainApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/collection/CollectionApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/collection/CollectionSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameApp.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameDeckCard.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameSelectDeckModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/IGameDeckCardCollectionDragObjectWithType.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/tripletriad/GameTripleTriadBoard.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/tripletriad/GameTripleTriadBoardGrid.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/ErrorBoundary.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NavMenu.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/models/GameTripleTriadModel.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/utils/keyoftype.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Add additional types to icon and deck state.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/styles/index.tsx
Due: dotnet, npm

Add additional types to icon and deck state. (#418)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckCreateModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/styles/index.tsx
Due: dotnet, npm

Update exclude path.
  .bettercodehub.yml
Due: none

Update exclude path. (#419)
  .bettercodehub.yml
Due: none

Update typescript-eslint monorepo to v2.12.0
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update dependency @types/node to v12.12.18
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Use alpha bundle by default.
  apps/CardHero.NetCoreApp.TypeScript/.gitignore
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor._.bundle.min.js
Due: dotnet

Update dependency mini-css-extract-plugin to v0.8.2
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update dependency css-loader to v3.4.0
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update dependency @types/node to v12.12.20
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines (#437)
  azure-pipelines.yml
Due: none

Update dependency dayjs to v1.8.18
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Set TypeScript to use proper type checking.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/types/node.d.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Use proper Chart.js types.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardSecondaryStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/styles/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
Due: dotnet, npm

Misc/proper types (#443)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardSecondaryStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardStatsGraphWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/styles/index.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/types/node.d.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/tsconfig.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
Due: dotnet, npm

Update bundles.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
Due: dotnet

Update definitelyTyped
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update NSwag monorepo to v13.2.0
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update NSwag to use NetCore 3.1.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

Update NSwag to use NetCore 3.1. (#450)
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

Add tests for some widgets.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameDetailWidget.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/__snapshots__/GameDetailWidget.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NumberDropDown.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/__snapshots__/NumberDropDown.test.tsx.snap
Due: dotnet, npm

Feature/227 edit deck (#411)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/card/CardSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/collection/CollectionSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckDetailsWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/DeckSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameDetailWidget.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/GameSearch.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/game/__snapshots__/GameDetailWidget.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NumberDropDown.test.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/NumberDropDown.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/shared/__snapshots__/NumberDropDown.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Models/DeckCardModel.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
Due: dotnet, npm

Update Node.js to v13.4.0
  .circleci/config.yml
Due: none
