Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm
flags:
  dotnet:
    paths:
      - apps
      - src
  npm:
    paths:
      - apps/CardHero.Frontend.React/src
ignore:
    - apps/CardHero.Frontend.React/src/clients/clients.ts

Update dependency sass to v1.24.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#227: Add support for searching card collections.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.Frontend.React/src/components/shared/InlineSearchBar.tsx
  apps/CardHero.Frontend.React/src/services/CardCollectionService.ts
  apps/CardHero.NetCoreApp.TypeScript/QueryFilters/CardCollectionQueryFilter.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  src/CardHero.Core.Abstractions/SearchFilters/CardCollectionSearchFilter.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
Due: dotnet, npm

#227: Add debounce to search.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
Due: dotnet, npm

#227: Add test for search bar.
  apps/CardHero.Frontend.React/src/components/shared/InlineSearchBar.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/InlineSearchBar.test.tsx.snap
Due: dotnet, npm

#227: Add rarity to card collection.
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionCard.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

Feature/227 edit deck 4 (#477)
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.Frontend.React/src/components/shared/InlineSearchBar.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/InlineSearchBar.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionCard.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/InlineSearchBar.test.tsx.snap
  apps/CardHero.Frontend.React/src/services/CardCollectionService.ts
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/QueryFilters/CardCollectionQueryFilter.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  src/CardHero.Core.Abstractions/SearchFilters/CardCollectionSearchFilter.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
Due: dotnet, npm

Update dependency typescript to v3.7.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency eslint to v6.8.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Fix all eslint warnings and set to error when warnings.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameDeckWidget.tsx
  apps/CardHero.Frontend.React/src/components/game/tripletriad/GameTripleTriadBoard.tsx
  apps/CardHero.Frontend.React/src/components/shared/InlineSearchBar.tsx
  apps/CardHero.Frontend.React/src/components/shared/NavMenu.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreApp.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreItemBuyModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

Fix and update tests.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/components/shared/NavMenu.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/InlineSearchBar.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NavMenu.test.tsx.snap
Due: dotnet, npm

Fix jest.
  apps/CardHero.Frontend.React/config/jest/overrides.js
  apps/CardHero.Frontend.React/jest.config.js
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
Due: dotnet, npm

Misc/eslint warnings (#478)
  apps/CardHero.Frontend.React/config/jest/overrides.js
  apps/CardHero.Frontend.React/jest.config.js
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameDeckWidget.tsx
  apps/CardHero.Frontend.React/src/components/game/tripletriad/GameTripleTriadBoard.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/InlineSearchBar.tsx
  apps/CardHero.Frontend.React/src/components/shared/NavMenu.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/InlineSearchBar.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/NavMenu.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/store/StoreApp.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreItemBuyModal.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet, npm

#97: Split card collection stuff into own service.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CollectionApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/StoreApiController.cs
  src/CardHero.Core.Abstractions/Services/ICardCollectionService.cs
  src/CardHero.Core.Abstractions/Services/ICardService.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
Due: dotnet

#97: Add card collection repository.
  src/CardHero.Data.Abstractions/Models/CardCollectionData.cs
  src/CardHero.Data.Abstractions/Repositories/ICardCollectionRepository.cs
  src/CardHero.Data.Abstractions/Search/CardCollectionSearchFilter.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Mappers/CardCollectionMapper.cs
  src/CardHero.Data.SqlServer/Repositories/CardCollectionRepository.cs
Due: dotnet

#97: Use the card collection repository for gets.
  src/CardHero.Core.Abstractions/Mappers/CardCollectionDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
Due: dotnet

Update webpack to 5.0.0-beta.10.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/runtime.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet

#97: Use card collection repository for adding cards.
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Data.Abstractions/Repositories/ICardCollectionRepository.cs
  src/CardHero.Data.SqlServer/Repositories/CardCollectionRepository.cs
Due: dotnet

#97: Remove CardCollection EF class from Core project.
  src/CardHero.Core.SqlServer/EntityFramework/Card.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardCollection.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckCardCollection.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
Due: dotnet

#97: Remove unused usings.
  src/CardHero.Core.Abstractions/Services/ICardService.cs
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
Due: dotnet

Enhancement/97 card collection repository (#480)
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CollectionApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/StoreApiController.cs
  src/CardHero.Core.Abstractions/Mappers/CardCollectionDataMapper.cs
  src/CardHero.Core.Abstractions/Services/ICardCollectionService.cs
  src/CardHero.Core.Abstractions/Services/ICardService.cs
  src/CardHero.Core.SqlServer/EntityFramework/Card.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardCollection.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckCardCollection.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Models/CardCollectionData.cs
  src/CardHero.Data.Abstractions/Repositories/ICardCollectionRepository.cs
  src/CardHero.Data.Abstractions/Search/CardCollectionSearchFilter.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Mappers/CardCollectionMapper.cs
  src/CardHero.Data.SqlServer/Repositories/CardCollectionRepository.cs
Due: dotnet

#97: Add card repository.
  src/CardHero.Data.Abstractions/Models/CardData.cs
  src/CardHero.Data.Abstractions/Models/RarityData.cs
  src/CardHero.Data.Abstractions/Repositories/ICardRepository.cs
  src/CardHero.Data.Abstractions/Search/CardSearchFilter.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Mappers/CardMapper.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
Due: dotnet

#97: Use card repository for getting cards.
  src/CardHero.Core.Abstractions/Mappers/CardDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
Due: dotnet

#97: Use card repository in card collection service.
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
Due: dotnet

#97: Use the card repository in the deck service.
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
Due: dotnet

#97: Use the card repository in the store item service.
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Search/CardSearchFilter.cs
  src/CardHero.Data.SqlServer/EntityFramework/Card.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/Rarity.cs
  src/CardHero.Data.SqlServer/Mappers/CardMapper.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
Due: dotnet

#97: Remove deprecated core classes.
  src/CardHero.Core.SqlServer/EntityFramework/Card.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/Rarity.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
Due: dotnet

#97: Fix some LGTM alerts.
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
Due: dotnet

Update typescript-eslint monorepo to v2.13.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#97: Add tests for card api controller.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
Due: none

#97: Add tests for card collection api controller.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
Due: none

#97: Increase test verbosity,
  .circleci/config.yml
Due: none

Enhancement/97 card repository (#481)
  .circleci/config.yml
  src/CardHero.Core.Abstractions/Mappers/CardDataMapper.cs
  src/CardHero.Core.SqlServer/EntityFramework/Card.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/Extensions/EntityFrameworkExtensions.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Models/CardData.cs
  src/CardHero.Data.Abstractions/Models/RarityData.cs
  src/CardHero.Data.Abstractions/Repositories/ICardRepository.cs
  src/CardHero.Data.Abstractions/Search/CardSearchFilter.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/EntityFramework/Card.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/Rarity.cs
  src/CardHero.Data.SqlServer/Mappers/CardMapper.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
Due: dotnet

Update dependency @types/node to v12.12.22
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update webpack to 5.0.0-beta.11.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/records.json
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
Due: dotnet

#97: Use deck repository for creating decks.
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Models/DeckCreateData.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
Due: dotnet

#97: Use deck repository when updating a collection.
  src/CardHero.Core.SqlServer/Services/DeckService.cs
Due: dotnet

Fix dodgy date tests.
  apps/CardHero.Frontend.React/src/components/game/GameDetailWidget.test.tsx
Due: dotnet, npm

Add yarnclean to reduce package sizes.
  apps/CardHero.Frontend.React/.yarnclean
Due: dotnet

#97: Remove unused class.
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/Deck.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckCardCollection.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckFavourite.cs
Due: dotnet

#97: Fix build.
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
Due: dotnet
