Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm
flags:
  dotnet:
    paths:
      - apps
      - src
  npm:
    paths:
      - apps/CardHero.Frontend.React/src
ignore:
    - apps/CardHero.Frontend.React/src/clients/clients.ts

#507: Fix typo.
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
Due: dotnet

Feature/507 postgres connection (#512)
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
  apps/CardHero.NetCoreApp.TypeScript/appsettings.json
  databases/CardHero.Database.PostgreSql/schema.sql
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Helpers/ConnectionStringParser.cs
Due: dotnet

Update dependency @types/chart.js to v2.9.8
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency eslint-plugin-flowtype to v4.5.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#507: Allow specifying additional Postgres options.
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Helpers/ConnectionStringParser.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Options/ConnectionOptions.cs
  src/CardHero.Data.PostgreSql/Options/CardHeroDataDbOptions.cs
Due: dotnet

#507: Add default options to appsettings.
  apps/CardHero.NetCoreApp.TypeScript/appsettings.json
Due: dotnet

Feature/507 postgres options (#516)
  apps/CardHero.NetCoreApp.TypeScript/appsettings.json
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Helpers/ConnectionStringParser.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Options/ConnectionOptions.cs
  src/CardHero.Data.PostgreSql/Options/CardHeroDataDbOptions.cs
Due: dotnet

#507: Forward headers to app from proxy.
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

#507: Forward headers to app from proxy. (#517)
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

#507: Set cookie to always output as strict regardless of protocol.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
Due: dotnet

#507: Set cookie to always output as strict regardless of protocol. (#520)
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
Due: dotnet

#507: Clear whitelist when allowing to forward headers.
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

#507: Clear whitelist when allowing to forward headers. (#522)
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

#97: Add support to be able to use multiple repositories.
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/ApiControllerTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.Development.json
Due: dotnet

#97: Rename Custom factory to PostgreSql factory.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/ApiControllerTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: none

#97: Add SqlServer factory.
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.SqlServer.json
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.json
Due: none

#97: Use SqlServer factory as well for account testing.
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/ApiControllerTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.PostgreSql.json
Due: dotnet

#97: Add multi repository to remaining tests.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: none

#97: Rename test base.
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: none

#97: Disable local Sql Server.
  apps/CardHero.NetCoreApp.TypeScript/appsettings.json
Due: dotnet

Enhancement/97 multi repository tests (#523)
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
  apps/CardHero.NetCoreApp.TypeScript/appsettings.json
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.PostgreSql.json
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.SqlServer.json
  tests/CardHero.NetCoreApp.IntegrationTests/appsettings.json
Due: dotnet

Update dependency css-loader to v3.4.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency sass to v1.24.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency sass to v1.24.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/node to v13.1.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#230: Add support for storing card packs.
  databases/CardHero.Database.PostgreSql/schema.sql
  src/CardHero.Data.PostgreSql/EntityFramework/Card.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardCollection.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Deck.cs
  src/CardHero.Data.PostgreSql/EntityFramework/DeckCardCollection.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Game.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameDeck.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameDeckCardCollection.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameUser.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Move.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Rarity.cs
  src/CardHero.Data.PostgreSql/EntityFramework/StoreItem.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Turn.cs
Due: dotnet

#230: Add card pack methods to API.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardPackApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/ICardPackService.cs
  src/CardHero.Core.Models/Models/CardPackModel.cs
Due: dotnet

#230: Add card pack to Postgres EF.
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardPack.cs
  src/CardHero.Data.PostgreSqlGenerator/Update-Database.ps1
Due: dotnet

#230: Add tests for pack API.
  src/CardHero.Core.Abstractions/Mappers/CardPackDataMapper.cs
  src/CardHero.Core.SqlServer/Services/CardPackService.cs
  src/CardHero.Data.Abstractions/Models/CardPackData.cs
  src/CardHero.Data.Abstractions/Repositories/ICardPackRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
Due: dotnet

#230: Add Postgres card pack support.
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.PostgreSql/Mappers/CardPackMapper.cs
  src/CardHero.Data.PostgreSql/Repositories/CardPackRepository.cs
Due: dotnet

#230: Add filtering card packs in UI.
  apps/CardHero.Frontend.React/src/components/card/CardSearch.tsx
  apps/CardHero.Frontend.React/src/services/CardPackService.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#230: Add filtering card packs on Postgres.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/card/CardSearch.tsx
  apps/CardHero.Frontend.React/src/services/CardService.ts
  apps/CardHero.NetCoreApp.TypeScript/QueryFilters/CardQueryFilter.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/SearchFilters/CardSearchFilter.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Data.Abstractions/Search/CardSearchFilter.cs
  src/CardHero.Data.PostgreSql/Repositories/CardRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
Due: dotnet, npm

#230: Add card pack support to SQL Server db.
  databases/CardHero.Database.SqlServer/CardHero.Database.SqlServer.sqlproj
  databases/CardHero.Database.SqlServer/Scripts/PostDeployment/Data/CardPack.sql
  databases/CardHero.Database.SqlServer/Scripts/PostDeployment/PostDeployment.sql
  databases/CardHero.Database.SqlServer/dbo/Tables/Card.sql
  databases/CardHero.Database.SqlServer/dbo/Tables/CardPack.sql
Due: none

#230: Add card pack filtering to SQL Server.
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/EntityFramework/Card.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardPack.cs
  src/CardHero.Data.SqlServer/Mappers/CardPackMapper.cs
  src/CardHero.Data.SqlServer/Repositories/CardPackRepository.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: dotnet

#230: Add card pack to store items in Postgres EF.
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardPack.cs
  src/CardHero.Data.PostgreSql/EntityFramework/StoreItem.cs
Due: dotnet

#230: Add buying store items with card packs for Postgres.
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Models/StoreItemData.cs
  src/CardHero.Data.PostgreSql/Mappers/StoreItemMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
Due: dotnet

#230: Add store item card pack support to SQL Server.
  databases/CardHero.Database.SqlServer/dbo/Tables/Card.sql
  databases/CardHero.Database.SqlServer/dbo/Tables/StoreItem.sql
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardPack.cs
  src/CardHero.Data.SqlServer/EntityFramework/StoreItem.cs
  src/CardHero.Data.SqlServer/Mappers/StoreItemMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: dotnet

#230: Update schema for Postgres.
  databases/CardHero.Database.PostgreSql/schema.sql
Due: none

Feature/230 card packs 2 (#533)
  databases/CardHero.Database.PostgreSql/schema.sql
  databases/CardHero.Database.SqlServer/dbo/Tables/Card.sql
  databases/CardHero.Database.SqlServer/dbo/Tables/StoreItem.sql
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Data.Abstractions/Models/StoreItemData.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardPack.cs
  src/CardHero.Data.PostgreSql/EntityFramework/StoreItem.cs
  src/CardHero.Data.PostgreSql/Mappers/StoreItemMapper.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardPack.cs
  src/CardHero.Data.SqlServer/EntityFramework/StoreItem.cs
  src/CardHero.Data.SqlServer/Mappers/StoreItemMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
Due: dotnet
