Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm
flags:
  dotnet:
    paths:
      - apps
      - src
  npm:
    paths:
      - apps/CardHero.Frontend.React/src
ignore:
    - apps/CardHero.Frontend.React/src/clients/clients.ts

Update to use new Docker images for .NET 5. (#1916)
  .circleci/config.yml
Due: none

Remove unused job.
  .circleci/config.yml
Due: none

Remove unused job. (#1917)
  .circleci/config.yml
Due: none

Update mcr.microsoft.com/dotnet/core/aspnet Docker tag to v3.1.10
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
Due: dotnet

Switch missing Docker file to new image locations.
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
Due: dotnet

Only generate Swagger document when manually ran.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/README.txt
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@restart.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dnd-core.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dom-helpers.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.history.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.mini-create-react-context.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-bootstrap.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd-html5-backend.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-overlays.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-transition-group.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.redux.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.symbol-observable.bundle.min.js
Due: dotnet

Removed ununsed build file.
  apps/CardHero.Frontend.React/records.json
Due: dotnet

Switch missing Docker file to new image locations. (#1918)
  apps/CardHero.Frontend.React/records.json
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
  apps/CardHero.NetCoreApp.TypeScript/README.txt
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@restart.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dnd-core.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dom-helpers.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.history.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.mini-create-react-context.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-bootstrap.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd-html5-backend.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-overlays.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-transition-group.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.redux.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.symbol-observable.bundle.min.js
Due: dotnet

Update NSwag monorepo to v13.9.2
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update dependency WebMarkupMin.AspNetCore3 to v2.8.15
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update .NET Core monorepo to v5
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Update Docker and builds to use .NET 5.
  .circleci/config.yml
  .github/workflows/dotnetcore.yml
  .travis.yml
  azure-pipelines.yml
  lgtm.yml
Due: none

Update .NET Core monorepo to v3.1.10
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Update mcr.microsoft.com/dotnet/sdk Docker tag to v3.1.404
  .circleci/config.yml
Due: none

Update missed .NET 5 packages to 5.0.0.
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
Due: none

Update mcr.microsoft.com/dotnet/aspnet Docker tag to v3.1.10
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
Due: dotnet

Update Dockerfile to .NET 5.
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
Due: dotnet

Update Dockerfile to .NET 5. (#1924)
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
Due: dotnet

Convert card components to functional components.
  apps/CardHero.Frontend.React/src/components/card/Card.tsx
  apps/CardHero.Frontend.React/src/components/card/CardApp.tsx
  apps/CardHero.Frontend.React/src/components/card/CardList.tsx
  apps/CardHero.Frontend.React/src/components/card/CardSearch.tsx
  apps/CardHero.Frontend.React/src/types/Nullable.d.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Convert story components to functional components.
  apps/CardHero.Frontend.React/src/components/store/Store.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreApp.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreItemBuyModal.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreItemDetails.tsx
Due: dotnet, npm

Convert home components to functional components.
  apps/CardHero.Frontend.React/src/components/home/Home.tsx
  apps/CardHero.Frontend.React/src/components/home/HomeApp.tsx
Due: dotnet, npm

Convert collection components to functional components.
  apps/CardHero.Frontend.React/src/components/collection/CollectionApp.tsx
  apps/CardHero.Frontend.React/src/components/collection/CollectionList.tsx
  apps/CardHero.Frontend.React/src/components/collection/CollectionSearch.tsx
Due: dotnet, npm

Update dependency Npgsql.EntityFrameworkCore.PostgreSQL to v5
  src/CardHero.Data.PostgreSql.DependencyInjection/CardHero.Data.PostgreSql.DependencyInjection.csproj
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
Due: dotnet

Convert deck components to functional components.
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckApp.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckCreateModal.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckList.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckSearch.tsx
Due: dotnet, npm

Update bundles.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

Update Postgre generator to net5.0.
  src/CardHero.Data.PostgreSql/EntityFramework/Card.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardCollection.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardFavourite.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardPack.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Deck.cs
  src/CardHero.Data.PostgreSql/EntityFramework/DeckCardCollection.cs
  src/CardHero.Data.PostgreSql/EntityFramework/DeckFavourite.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Game.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameDeck.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameDeckCardCollection.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameUser.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Move.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Rarity.cs
  src/CardHero.Data.PostgreSql/EntityFramework/StoreItem.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Turn.cs
  src/CardHero.Data.PostgreSql/EntityFramework/User.cs
  src/CardHero.Data.PostgreSqlGenerator/CardHero.Data.PostgreSqlGenerator.csproj
  src/CardHero.Data.PostgreSqlGenerator/Update-Database.ps1
Due: dotnet

Convert various shaerd components to functional components.
  apps/CardHero.Frontend.React/src/components/shared/ErrorView.tsx
  apps/CardHero.Frontend.React/src/components/shared/NavMenu.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationItem.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationWidget.tsx
Due: dotnet, npm

Update bundles.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet

Update webpack watch command.
  apps/CardHero.Frontend.React/package.json
Due: dotnet

Convert game components to functional components.
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameApp.tsx
  apps/CardHero.Frontend.React/src/components/game/GameCreateModal.tsx
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.Frontend.React/src/components/game/GameSearch.tsx
  apps/CardHero.Frontend.React/src/components/game/GameSelectDeckModal.tsx
Due: dotnet, npm

Fix React error.
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
Due: dotnet, npm

Update bundles.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet

Migrate to eslint-webpack-plugin as eslint-loader is deprecated.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/webpack.config.js
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

Migrate to eslint-webpack-plugin as eslint-loader is deprecated. (#1929)
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/webpack.config.js
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

#1925: Convert card components to functional components. (#1926)
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/components/card/Card.tsx
  apps/CardHero.Frontend.React/src/components/card/CardApp.tsx
  apps/CardHero.Frontend.React/src/components/card/CardList.tsx
  apps/CardHero.Frontend.React/src/components/card/CardSearch.tsx
  apps/CardHero.Frontend.React/src/components/collection/CollectionApp.tsx
  apps/CardHero.Frontend.React/src/components/collection/CollectionList.tsx
  apps/CardHero.Frontend.React/src/components/collection/CollectionSearch.tsx
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckApp.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckCreateModal.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckList.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckSearch.tsx
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameApp.tsx
  apps/CardHero.Frontend.React/src/components/game/GameCreateModal.tsx
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.Frontend.React/src/components/game/GameSearch.tsx
  apps/CardHero.Frontend.React/src/components/game/GameSelectDeckModal.tsx
  apps/CardHero.Frontend.React/src/components/home/Home.tsx
  apps/CardHero.Frontend.React/src/components/home/HomeApp.tsx
  apps/CardHero.Frontend.React/src/components/shared/ErrorView.tsx
  apps/CardHero.Frontend.React/src/components/shared/NavMenu.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationItem.tsx
  apps/CardHero.Frontend.React/src/components/shared/NotificationWidget.tsx
  apps/CardHero.Frontend.React/src/components/store/Store.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreApp.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreItemBuyModal.tsx
  apps/CardHero.Frontend.React/src/components/store/StoreItemDetails.tsx
  apps/CardHero.Frontend.React/src/types/Nullable.d.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet, npm

Update node Docker tag to v14.15.1
  .circleci/config.yml
Due: none

Update linters to v4.8.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/chart.js to v2.9.28
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update NSwag monorepo to v13.9.3
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet
