Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm
flags:
  dotnet:
    paths:
      - apps
      - src
  npm:
    paths:
      - apps/CardHero.Frontend.React/src
ignore:
    - apps/CardHero.Frontend.React/src/clients/clients.ts

#547: Rename CurrentGameUserId to CurrentUserId in the game model.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Mappers/GameDataMapper.cs
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Core.SqlServer/Validators/GameValidator.cs
  src/CardHero.Data.Abstractions/Models/GameData.cs
  src/CardHero.Data.PostgreSql/Mappers/GameMapper.cs
  src/CardHero.Data.SqlServer/Mappers/GameMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet, npm

#547: Rename WinnerId to WinnerUserId to be more descriptive.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Mappers/GameDataMapper.cs
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Data.Abstractions/Models/GameData.cs
  src/CardHero.Data.PostgreSql/Mappers/GameMapper.cs
  src/CardHero.Data.SqlServer/Mappers/GameMapper.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: dotnet

#547: Uodate Postgres database with correct schema joining game to user instead of game user.
  databases/CardHero.Database.PostgreSql/schema.sql
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Models/GameUpdateData.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/EntityFramework/Game.cs
  src/CardHero.Data.PostgreSql/EntityFramework/GameUser.cs
  src/CardHero.Data.PostgreSql/EntityFramework/User.cs
  src/CardHero.Data.PostgreSql/Mappers/GameMapper.cs
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
Due: dotnet

#547: Update WinnerId to WinnderUserId to be more descriptive.
  src/CardHero.Data.Abstractions/Models/GameUpdateData.cs
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
Due: dotnet

#547: Update SQL Server database schema to point to user instead of game user.
  databases/CardHero.Database.SqlServer/dbo/Tables/Game.sql
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/Game.cs
  src/CardHero.Data.SqlServer/EntityFramework/GameUser.cs
  src/CardHero.Data.SqlServer/EntityFramework/User.cs
  src/CardHero.Data.SqlServer/Mappers/GameMapper.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: dotnet

#547: Fix unit tests.
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Repositories/IGameDeckRepository.cs
  src/CardHero.Data.PostgreSql/Repositories/GameDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameDeckRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet

#547: Remove IGameUserRepository and pass along game/user id to create things.
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Repositories/IGameDeckRepository.cs
  src/CardHero.Data.Abstractions/Repositories/IGameUserRepository.cs
  src/CardHero.Data.PostgreSql/Repositories/GameDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameDeckRepository.cs
Due: dotnet

#547: Fix dodgy .NET build.
  src/CardHero.Data.PostgreSql.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.PostgreSql/Repositories/GameUserRepository.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Repositories/GameUserRepository.cs
Due: dotnet

#547: Remove user when creating a new game.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Mappers/GameCreateDataMapper.cs
  src/CardHero.Core.Models/Models/GameCreateModel.cs
  src/CardHero.Data.Abstractions/Models/GameCreateData.cs
Due: dotnet

#547: Remove Deck from GameModel as it's not used.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Models/GameModel.cs
Due: dotnet

#547: Use userId instead of gameUserId for turns as this makes it easier to map to.
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Models/TurnData.cs
  src/CardHero.Data.PostgreSql/Mappers/TurnMapper.cs
  src/CardHero.Data.PostgreSql/Repositories/TurnRepository.cs
  src/CardHero.Data.SqlServer/Mappers/TurnMapper.cs
  src/CardHero.Data.SqlServer/Repositories/TurnRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet

#547: Fix incorrect usage of gameUser in Postgres.
  databases/CardHero.Database.PostgreSql/schema.sql
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/Repositories/TurnRepository.cs
Due: dotnet

#547: Fix incorrect usage of gameUser in SQL Server.
  databases/CardHero.Database.SqlServer/dbo/Tables/Turn.sql
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/Repositories/TurnRepository.cs
Due: dotnet

#547: Fix incorrect gameUserId in tests.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
Due: none

Update dependency webpack to v4.42.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update typescript-eslint monorepo to v2.22.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/chart.js to v2.9.15
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update webpack to 5.0.0-beta.14.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dnd-core.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd-html5-backend.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dnd.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-dom.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet

Feature/547 game logic 8 (#786)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  databases/CardHero.Database.PostgreSql/schema.sql
  databases/CardHero.Database.SqlServer/dbo/Tables/Turn.sql
  src/CardHero.Core.Abstractions/Mappers/GameCreateDataMapper.cs
  src/CardHero.Core.Models/Models/GameCreateModel.cs
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Models/GameCreateData.cs
  src/CardHero.Data.Abstractions/Models/TurnData.cs
  src/CardHero.Data.PostgreSql/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.PostgreSql/Mappers/TurnMapper.cs
  src/CardHero.Data.PostgreSql/Repositories/TurnRepository.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/Mappers/TurnMapper.cs
  src/CardHero.Data.SqlServer/Repositories/TurnRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet

Move EF generation projects in to database solution as they only need to be ran when the schema changes.
  CardHero.Database.sln
  CardHero.sln
Due: none

Only run NSwag generation when building in debug as the CI does not need to regenerate ts.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Misc/project layout (#794)
  CardHero.Database.sln
  CardHero.sln
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update dependency cross-env to v7.0.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @babel/core to v7.8.7
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency cross-env to v7.0.2
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update NSwag monorepo to v13.2.5
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update dependency @types/node to v13.9.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @fortawesome/react-fontawesome to v0.1.9
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update bundle.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.@fortawesome.bundle.min.js
Due: dotnet

Update Node.js to v13.10.1
  .circleci/config.yml
Due: none

Update dependency eslint-plugin-react to v7.19.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/jest to v25.1.4
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Remove rows/columns from game data as these are in the game model.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameDataViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#547: Use a model for joining a game.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/JoinGameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/IGameService.cs
  src/CardHero.Core.Models/Models/GameJoinModel.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
Due: dotnet, npm

#547: Consolidate various models for laying the game,
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameDataViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameMoveViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Models/GamePlayModel.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet, npm

Feature/547 game logic 9 (#813)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameDataViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameMoveViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/GameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/Game/JoinGameViewModel.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/IGameService.cs
  src/CardHero.Core.Models/Models/GameJoinModel.cs
  src/CardHero.Core.Models/Models/GamePlayModel.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.MoveAsync.cs
Due: dotnet, npm

#547: Move can join/play logic into UI as backend doesn't care.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
Due: dotnet, npm

#547: Only return userIds from game model as users list will exist elsewhere.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.Frontend.React/src/components/game/GameUsersWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Core.SqlServer/DataServices/IGameDataService.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Validators/GameValidator.cs
Due: dotnet, npm

#547: Move deck properties into game play model as it contains user specific info.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/IGamePlayService.cs
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Core.Models/Models/GamePlayModel.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
Due: dotnet, npm
