Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Misc/dodgy date test (#490)
  apps/CardHero.Frontend.React/.yarnclean
  apps/CardHero.Frontend.React/src/components/game/GameDetailWidget.test.tsx
Due: dotnet, npm

Enhancement/97 deck repository (#491)
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/Deck.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckCardCollection.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckFavourite.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Models/DeckCreateData.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
Due: dotnet

Update dependency @types/jest to v24.0.25
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#97: Add code to update deck in repository.
  src/CardHero.Data.Abstractions/Models/DeckUpdateData.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
Due: dotnet

#97: Use deck update repository in deck service.
  src/CardHero.Core.SqlServer/Services/DeckService.cs
Due: dotnet

#97: Remove unused code.
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckCardCollection.cs
Due: dotnet

#97: Add tests for deck api.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  tests/CardHero.NetCoreApp.IntegrationTests/Extensions/HttpClientExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
Due: dotnet, npm

Enhancement/97 deck card collection repository (#492)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckCardCollection.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Models/DeckUpdateData.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Extensions/HttpClientExtensions.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
Due: dotnet, npm

#97: Add card favourite to Entity Framework.
  src/CardHero.Data.SqlServer/EntityFramework/Card.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/User.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
Due: dotnet

#97: Add card favourite to the repository.
  src/CardHero.Data.Abstractions/Repositories/ICardRepository.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
Due: dotnet

#97: Use card repository for favouriting.
  src/CardHero.Core.SqlServer/Services/CardService.cs
Due: dotnet

#97: Remove unused code.
  src/CardHero.Core.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
Due: dotnet

#97: Add card favourite to api.
  apps/CardHero.Frontend.React/records.json
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

#97: Hook up favourite to UI.
  apps/CardHero.Frontend.React/records.json
  apps/CardHero.Frontend.React/src/components/card/Card.tsx
  apps/CardHero.Frontend.React/src/components/card/CardStatsWidget.tsx
  apps/CardHero.Frontend.React/src/services/CardService.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#97: Bring back favourited cards from API.
  apps/CardHero.Frontend.React/src/components/card/Card.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
Due: dotnet, npm

#97: Add tests for card favourite.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
Due: none

#97: Fix and add more tests for cards.
  apps/CardHero.Frontend.React/src/components/card/CardList.test.tsx
  apps/CardHero.Frontend.React/src/components/card/CardStatsWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardList.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardStatsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/contexts/AccountContext.ts
Due: dotnet, npm

Enhancement/97 card favourite repository (#493)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/card/Card.tsx
  apps/CardHero.Frontend.React/src/components/card/CardList.test.tsx
  apps/CardHero.Frontend.React/src/components/card/CardStatsWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/card/CardStatsWidget.tsx
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardList.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/card/__snapshots__/CardStatsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/contexts/AccountContext.ts
  apps/CardHero.Frontend.React/src/services/CardService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Data.Abstractions/Repositories/ICardRepository.cs
  src/CardHero.Data.SqlServer/EntityFramework/Card.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardFavourite.cs
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/User.cs
  src/CardHero.Data.SqlServer/Repositories/CardRepository.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
Due: dotnet, npm

#97: Add deck favourite to Entity Framework.
  src/CardHero.Data.SqlServer/EntityFramework/CardHeroDataDbContext.cs
  src/CardHero.Data.SqlServer/EntityFramework/Deck.cs
  src/CardHero.Data.SqlServer/EntityFramework/DeckFavourite.cs
  src/CardHero.Data.SqlServer/EntityFramework/User.cs
  src/CardHero.Data.SqlServerGenerator/Update-Database.ps1
Due: dotnet

#97: Add deck favourite to repository.
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
Due: dotnet

#97: Use deck repository for favourites.
  src/CardHero.Core.Abstractions/Services/IDeckService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Models/DeckData.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
Due: dotnet

#97: Add favourite deck to the API.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
Due: dotnet

#97: Update UI to favourite deck.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckDetailsWidget.tsx
  apps/CardHero.Frontend.React/src/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet, npm

#97: Populate deck favourite in models.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  src/CardHero.Core.Abstractions/Mappers/DeckDataMapper.cs
  src/CardHero.Core.Abstractions/Services/IDeckService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
Due: dotnet

#97: Add tests for deck api.
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
Due: none

Update dependency webpack to v4.41.5
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#97: Remove unused code.
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Core.SqlServer/EntityFramework/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/EntityFramework/DeckFavourite.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Infrastructure/CardHeroDbContext.cs
  src/CardHero.Core.SqlServer/Infrastructure/CardHeroDbContextFactory.cs
  src/CardHero.Core.SqlServer/Options/CardHeroOptions.cs
  src/CardHero.Core.SqlServer/Program.cs
  src/CardHero.Core.SqlServer/README.txt
  src/CardHero.Core.SqlServer/Scripts/Update-Database.ps1
  src/CardHero.Core.SqlServer/Services/BaseService.cs
  src/CardHero.Core.SqlServer/Services/CardCollectionService.cs
  src/CardHero.Core.SqlServer/Services/CardService.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Services/MoveService.cs
  src/CardHero.Core.SqlServer/Services/StoreItemService.cs
  src/CardHero.Core.SqlServer/Services/UserService.cs
Due: dotnet

#97: Fix js tests and add more deck tests.
  apps/CardHero.Frontend.React/src/components/deck/DeckList.test.tsx
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckDetailsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckList.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.default.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react.bundle.min.js
Due: dotnet, npm

Remove explicit usages to Newtonsoft and use System.Text.Json instead.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
Due: dotnet

Split out React layouts into own view.
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/ReactView.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
Due: dotnet

Remove old TypeScript build files.
  apps/CardHero.NetCoreApp.TypeScript/obj/ts/tsconfig.tsbuildinfo
Due: dotnet

Remove various warnings.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/GithubUserInformationModel.cs
Due: dotnet

Misc/newtonsoft cleaup (#497)
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
  apps/CardHero.NetCoreApp.TypeScript/Models/GithubUserInformationModel.cs
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/ReactView.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/obj/ts/tsconfig.tsbuildinfo
Due: dotnet

Only run yarn autoclean on build server as it's quite slow locally.
  .circleci/config.yml
  apps/CardHero.Frontend.React/config/.yarnclean
Due: dotnet

Only run yarn autoclean on build server as it's quite slow locally. (#498)
  .circleci/config.yml
  apps/CardHero.Frontend.React/config/.yarnclean
Due: dotnet

Run eslint as part of the Webpack build process.
  apps/CardHero.Frontend.React/webpack.config.js
Due: dotnet

Remove lint build step.
  .circleci/config.yml
Due: none

Ci/eslint build (#499)
  .circleci/config.yml
  apps/CardHero.Frontend.React/webpack.config.js
Due: dotnet

#113: Add Docker file.
  .dockerignore
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Dockerfile
  apps/CardHero.NetCoreApp.TypeScript/Properties/launchSettings.json
Due: dotnet

Path conditions:
  dotnet: any of: apps, src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
  npm: any of: apps/CardHero.Frontend.React/src, but not: apps/CardHero.Frontend.React/src/clients/clients.ts
