Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

Attempt to stop Circle CI hanging on tests.
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Extensions/HttpContentExtensions.cs
Due: none

Add tests for getting a deck.
  src/CardHero.Core.Abstractions/Mappers/DeckDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
Due: dotnet

Fix various SonarCloud warnings.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardHeroControllerBase.cs
  apps/CardHero.NetCoreApp.TypeScript/Pages/Error.cshtml.cs
  src/CardHero.AspNetCore.Authentication.FileSystem/Cookies/JsonFileSystemTicketStore.cs
  src/CardHero.Core.SqlServer/Services/BaseService.cs
Due: dotnet

Attempt to stop Circle CI hanging on tests. (#451)
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/CardHeroControllerBase.cs
  apps/CardHero.NetCoreApp.TypeScript/Pages/Error.cshtml.cs
  src/CardHero.AspNetCore.Authentication.FileSystem/Cookies/JsonFileSystemTicketStore.cs
  src/CardHero.Core.SqlServer/Services/BaseService.cs
  tests/CardHero.NetCoreApp.IntegrationTests/CardHero.NetCoreApp.IntegrationTests.csproj
  tests/CardHero.NetCoreApp.IntegrationTests/Extensions/HttpContentExtensions.cs
Due: dotnet

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update TS project path.
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines (#452)
  azure-pipelines.yml
Due: none

Update dependency Microsoft.VisualStudio.Threading.Analyzers to v16.4.39
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

Disable NSwag as this seems to cause flakiness in dotnet tests.
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Disable NSwag as this seems to cause flakiness in dotnet tests. (#458)
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Update babel monorepo to v7.7.7
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update dependency webpack to v4.41.4
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/package.json
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/yarn.lock
Due: dotnet

Update dependency Microsoft.VisualStudio.Threading.Analyzers to v16.4.43
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/Debug.NetCoreApp/Debug.NetCoreApp.csproj
  src/CardHero.AspNetCore.Authentication.FileSystem/CardHero.AspNetCore.Authentication.FileSystem.csproj
  src/CardHero.Core.Abstractions/CardHero.Core.Abstractions.csproj
  src/CardHero.Core.Models/CardHero.Core.Models.csproj
  src/CardHero.Core.SqlServer/CardHero.Core.SqlServer.csproj
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.SqlServer.DependencyInjection/CardHero.Data.SqlServer.DependencyInjection.csproj
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServerGenerator/CardHero.Data.SqlServerGenerator.csproj
Due: dotnet

#227: Populate cards when getting a deck.
  src/CardHero.Core.SqlServer/Services/DeckService.cs
Due: dotnet

#227: Use DbContext object in constructor instead of factory for tests to pass.
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.Abstractions/Search/DeckSearchFilter.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
Due: dotnet

#227: Update UI to show cards in deck.
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.SqlServer/Services/DeckService.cs
Due: dotnet, npm

Feature/227 edit deck 2 (#463)
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Mappers/DeckDataMapper.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/DeckService.cs
  src/CardHero.Data.Abstractions/Repositories/IDeckRepository.cs
  src/CardHero.Data.Abstractions/Search/DeckSearchFilter.cs
  src/CardHero.Data.SqlServer.DependencyInjection/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Data.SqlServer/Repositories/DeckRepository.cs
  src/CardHero.Data.SqlServer/Repositories/UserRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
Due: dotnet, npm

#217: Repurpose debug project.
  apps/CardHero.Frontend.React/Debug.NetCoreApp.csproj
  apps/CardHero.Frontend.React/Program.cs
  apps/CardHero.Frontend.React/Properties/launchSettings.json
  apps/CardHero.Frontend.React/Startup.cs
  apps/CardHero.Frontend.React/web.config
Due: dotnet

#217: Move over debug project.
  CardHero.sln
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
Due: dotnet

#217: Update project properties..
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
Due: dotnet

#217: Update project paths.
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
  apps/CardHero.Frontend.React/webpack.config.js
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

#217: Update various paths in build configs.
  .bettercodehub.yml
  .circleci/config.yml
  .dependabot/config.yml
  .github/workflows/dotnetcore.yml
  azure-pipelines.yml
  codecov.yml
  lgtm.yml
Due: none

#217: Fix Circle CI init workspace.
  .circleci/config.yml
Due: none

#217: Fix Circle CI init worksapce again.
  .circleci/config.yml
Due: none

#217: Fix Yarn cache key.
  .circleci/config.yml
Due: none

Update bundle.
  apps/CardHero.Frontend.React/records.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

#227: Cleaup some frontend stuff.
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
  apps/CardHero.Frontend.React/Program.cs
  apps/CardHero.Frontend.React/README.md
  apps/CardHero.Frontend.React/Startup.cs
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/constants/constants.ts
  apps/CardHero.Frontend.React/src/utils/nameof.test.ts
  apps/CardHero.Frontend.React/src/utils/nameof.ts
  apps/CardHero.Frontend.React/web.config
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet

#227: Cleaup some frontend stuff. (#465)
  apps/CardHero.Frontend.React/CardHero.Frontend.React.csproj
  apps/CardHero.Frontend.React/Program.cs
  apps/CardHero.Frontend.React/README.md
  apps/CardHero.Frontend.React/Startup.cs
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/src/constants/constants.ts
  apps/CardHero.Frontend.React/src/utils/nameof.test.ts
  apps/CardHero.Frontend.React/src/utils/nameof.ts
  apps/CardHero.Frontend.React/web.config
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet

#227: Split card collection into own component.
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
Due: dotnet

Update Node.js to v13.5.0
  .circleci/config.yml
Due: none

Update dependency @types/react to v16.9.17
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#227: Add base setup to allow for cards to be edited.
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.Frontend.React/src/styles/index.scss
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet

#227: Cleanup deck edit model.
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/models/DeckEditModel.ts
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet

#227: Add logic to add/remove cards from deck.
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet

#227: Update deck details widget.
  apps/CardHero.Frontend.React/src/components/deck/DeckDetailsWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckDetailsWidget.tsx
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckDetailsWidget.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet

#227: Save the deck cards.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckDetailsWidget.tsx
  apps/CardHero.Frontend.React/src/services/DeckService.ts
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet

#227: Add tests for components.
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckDetailsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionCard.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
Due: dotnet

Feature/227 edit deck 3 (#470)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/deck/Deck.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckDetailsWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/deck/DeckDetailsWidget.tsx
  apps/CardHero.Frontend.React/src/components/deck/__snapshots__/DeckDetailsWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionCard.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.test.tsx
  apps/CardHero.Frontend.React/src/components/shared/CardCollectionWidget.tsx
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionCard.test.tsx.snap
  apps/CardHero.Frontend.React/src/components/shared/__snapshots__/CardCollectionWidget.test.tsx.snap
  apps/CardHero.Frontend.React/src/models/DeckEditModel.ts
  apps/CardHero.Frontend.React/src/services/DeckService.ts
  apps/CardHero.Frontend.React/src/styles/index.scss
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/DeckApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.vendor.bundle.min.css
Due: dotnet

Path conditions:
  dotnet: any of: apps, src, but not: apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/clients/clients.ts
  npm: any of: apps/CardHero.NetCoreApp.TypeScript/ClientApp/src, but not: apps/CardHero.NetCoreApp.TypeScript/ClientApp/src/clients/clients.ts
