Repository kwokkan/card-hero: changes, and which Codecov flags are due for each by the changed paths.
All: dotnet, npm

codecov.yml:

coverage:
  status:
    projects:
      dotnet:
        flags: dotnet
      npm:
        flags: npm
flags:
  dotnet:
    paths:
      - apps
      - src
  npm:
    paths:
      - apps/CardHero.Frontend.React/src
ignore:
    - apps/CardHero.Frontend.React/src/clients/clients.ts

Feature/547 game logic 10 (#814)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.Frontend.React/src/components/game/GameUsersWidget.tsx
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Services/IGamePlayService.cs
  src/CardHero.Core.Models/Models/GameModel.cs
  src/CardHero.Core.Models/Models/GamePlayModel.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Core.SqlServer/DataServices/IGameDataService.cs
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Core.SqlServer/Validators/GameValidator.cs
Due: dotnet, npm

#547: Move game play logic into game play service/api.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/services/GamePlayService.ts
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GamePlayApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.MoveAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.cs
Due: dotnet, npm

#547: Make Play game button clickable.
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Feature/547 game logic 11 (#815)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.Frontend.React/src/components/game/Game.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameList.tsx
  apps/CardHero.Frontend.React/src/services/GamePlayService.ts
  apps/CardHero.Frontend.React/src/services/GameService.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GamePlayApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.MoveAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.cs
Due: dotnet, npm

clean up some spellings
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet

clean up some spellings (#818)
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/AccountApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardCollectionApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/CardPackApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/DeckApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/StoreApiControllerTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet

Add styles to loading/noscript pages.
  apps/CardHero.Frontend.React/src/components/home/Home.tsx
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/ReactView.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
Due: dotnet, npm

Use a single JSON options for all request types.
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

Fix dodgy Swagger CSP.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/HttpHeaderApplicationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

Fix various string comparison warnings with PathString.
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Extensions/LocalAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
Due: dotnet

Fix failing tests.
  apps/CardHero.Frontend.React/src/components/home/__snapshots__/Home.test.tsx.snap
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet, npm

Misc/ui cleanup (#819)
  apps/CardHero.Frontend.React/src/components/home/Home.tsx
  apps/CardHero.Frontend.React/src/components/home/__snapshots__/Home.test.tsx.snap
  apps/CardHero.NetCoreApp.TypeScript/Extensions/GitHubAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Extensions/HttpHeaderApplicationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Extensions/LocalAuthenticationBuilderExtensions.cs
  apps/CardHero.NetCoreApp.TypeScript/Middleware/JsonExceptionMiddleware.cs
  apps/CardHero.NetCoreApp.TypeScript/Startup.cs
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/ReactView.cshtml
  apps/CardHero.NetCoreApp.TypeScript/Views/Shared/_Layout.cshtml
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/TopLevelControllerTests.cs
Due: dotnet, npm

Update dependency dayjs to v1.8.22
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update bundle.
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.dayjs.bundle.min.js
Due: dotnet

Update typescript-eslint monorepo to v2.23.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency webpack-bundle-analyzer to v3.6.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency sass to v1.26.3
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency @types/node to v13.9.1
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency WebMarkupMin.AspNetCore3 to v2.8.1
  apps/CardHero.NetCoreApp.TypeScript/CardHero.NetCoreApp.TypeScript.csproj
Due: dotnet

Remove some unused npm packages.
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/webpack.config.js
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Regenerate yarn.lock file.
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.hoist-non-react-statics.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router.bundle.min.js
Due: dotnet

Misc/yarn cleanup (#833)
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/webpack.config.js
  apps/CardHero.Frontend.React/yarn.lock
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.hoist-non-react-statics.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/vendor.react-router.bundle.min.js
Due: dotnet

#547: Populate the time the move was made to allow determining who has the current card.
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Mappers/MoveDataMapper.cs
  src/CardHero.Core.Models/Models/MoveModel.cs
  src/CardHero.Data.Abstractions/Models/MoveData.cs
  src/CardHero.Data.PostgreSql/Repositories/MoveRepository.cs
  src/CardHero.Data.SqlServer/Repositories/MoveRepository.cs
Due: dotnet

#547: Add Allow MoveModel to be populated with the current user id.
  src/CardHero.Core.Abstractions/Services/IMoveUserService.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/MoveUserService.cs
  tests/CardHero.Core.SqlServer.Tests/Services/MoveUserServiceTests.cs
Due: dotnet

#547: Use the IMoveUserService in the controller.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GamePlayApiController.cs
  src/CardHero.Core.Abstractions/Mappers/MoveDataMapper.cs
  src/CardHero.Data.Abstractions/Models/MoveData.cs
  src/CardHero.Data.PostgreSql/Repositories/MoveRepository.cs
  src/CardHero.Data.SqlServer/Repositories/MoveRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.GetByIdAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.cs
Due: dotnet

Feature/547 game logic 12 (#834)
  apps/CardHero.Frontend.React/src/clients/clients.ts
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GamePlayApiController.cs
  apps/CardHero.NetCoreApp.TypeScript/swagger.json
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/shared.bundle.min.js
  src/CardHero.Core.Abstractions/Mappers/MoveDataMapper.cs
  src/CardHero.Core.Abstractions/Services/IMoveUserService.cs
  src/CardHero.Core.Models/Models/MoveModel.cs
  src/CardHero.Core.SqlServer/Extensions/ServiceCollectionExtensions.cs
  src/CardHero.Core.SqlServer/Services/MoveUserService.cs
  src/CardHero.Data.Abstractions/Models/MoveData.cs
  src/CardHero.Data.PostgreSql/Repositories/MoveRepository.cs
  src/CardHero.Data.SqlServer/Repositories/MoveRepository.cs
  tests/CardHero.Core.SqlServer.Tests/Services/MoveUserServiceTests.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.GetByIdAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.cs
Due: dotnet

Update typescript-eslint monorepo to v2.24.0
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

Update dependency dayjs to v1.8.23
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Highlight the current cards in a game based on who owns them.
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/styles/game.scss
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
Due: dotnet, npm

#547: Use seperate class names for your/opponent cards.
  apps/CardHero.Frontend.React/src/components/game/GameBoard.tsx
  apps/CardHero.Frontend.React/src/components/game/GameBoardGrid.tsx
  apps/CardHero.Frontend.React/src/styles/game.scss
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/app.main.bundle.min.js
  apps/CardHero.NetCoreApp.TypeScript/wwwroot/dist/styles.app.bundle.min.css
Due: dotnet, npm

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.200
  .circleci/config.yml
Due: none

#547: Handle the winner once the last card is played.
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Data.Abstractions/Models/GameUpdateData.cs
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
Due: dotnet

Update mcr.microsoft.com/dotnet/core/sdk Docker tag to v3.1.200.
  .github/workflows/dotnetcore.yml
  .travis.yml
  lgtm.yml
Due: none

#547: Add winner tests for game play.
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.MoveAsync.cs
Due: none

#547: Fix issue with players not being returned in the correct order (and unable to win a game).
  src/CardHero.Core.SqlServer/Services/GamePlayService.cs
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GamePlayApiControllerTests.MoveAsync.cs
Due: dotnet

#547: Randomise the players when everyone has joined.
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.Abstractions/Repositories/IGameRepository.cs
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
Due: dotnet

#547: Use the GameType from the models project instead of the abstractions project since they are the same.
  src/CardHero.Core.Abstractions/Mappers/GameCreateDataMapper.cs
  src/CardHero.Core.Abstractions/Mappers/GameDataMapper.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.Abstractions/Enums/GameType.cs
  src/CardHero.Data.Abstractions/Models/GameCreateData.cs
  src/CardHero.Data.Abstractions/Models/GameData.cs
  src/CardHero.Data.Abstractions/Search/GameSearchFilter.cs
  src/CardHero.Data.PostgreSql/CardHero.Data.PostgreSql.csproj
  src/CardHero.Data.PostgreSql/Mappers/GameMapper.cs
  src/CardHero.Data.SqlServer/CardHero.Data.SqlServer.csproj
  src/CardHero.Data.SqlServer/Mappers/GameMapper.cs
Due: dotnet

Update definitelyTyped
  apps/CardHero.Frontend.React/package.json
  apps/CardHero.Frontend.React/yarn.lock
Due: dotnet

#547: Add tests for creating a new game.
  apps/CardHero.NetCoreApp.TypeScript/Controllers/Api/GameApiController.cs
  src/CardHero.Core.SqlServer/Services/GameService.cs
  src/CardHero.Data.PostgreSql/Repositories/GameRepository.cs
  src/CardHero.Data.SqlServer/Repositories/GameRepository.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/BaseWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/PostgreSqlWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Helpers/SqlServerWebApplicationFactory.cs
  tests/CardHero.NetCoreApp.IntegrationTests/IntegrationTestBase.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.PostAsync.cs
  tests/CardHero.NetCoreApp.IntegrationTests/Tests/GameApiControllerTests.cs
Due: dotnet

#547: Use game type from models as the data abstractions one is duplicated.
  src/CardHero.Core.Abstractions/Mappers/GameCreateDataMapper.cs
  src/CardHero.Core.Abstractions/Mappers/GameDataMapper.cs
  src/CardHero.Core.SqlServer/DataServices/GameDataService.cs
  src/CardHero.Data.Abstractions/CardHero.Data.Abstractions.csproj
  src/CardHero.Data.Abstractions/Enums/GameType.cs
  src/CardHero.Data.Abstractions/Models/GameCreateData.cs
  src/CardHero.Data.Abstractions/Models/GameData.cs
  src/CardHero.Data.Abstractions/Search/GameSearchFilter.cs
  src/CardHero.Data.PostgreSql/Mappers/GameMapper.cs
  src/CardHero.Data.SqlServer/Mappers/GameMapper.cs
Due: dotnet
